<!doctype html>
<html ng-app="myApp">
  <head>
    <script src="js/vendor/custom.modernizr.js"></script>
    <script src="js/vendor/angular.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="css/foundation.min.css"/>
    <link rel="stylesheet" type="text/css" href="css/styles.css"/>
  </head>
  

<div ng-controller="MyController">
  <h5>{{ clock }}</h5>
</div>


<div ng-controller="PlayerController">
  <button ng-click="play()" class="button" ng-show="!playing">Play</button>
  <button ng-click="stop()" class="button alert" ng-show="playing">Stop</button>
  Playing audio: <b>{{ playing }}</b>


  <ul id="programs_list" class="">
    <li ng-repeat="program in programs" ng-click="play(program)">
      <span class="large-12">{{ program.title.$text }}</span>
    </li>
  </ul>
</div>


    <script>
      document.write('<script src=js/vendor/'
        + ('__proto__' in {} ? 'zepto' : 'jquery')
        + '.js><\/script>');
    </script>
    <script src="js/vendor/foundation.min.js"></script>
    <script src="js/beginner.js"></script>
    <script type="text/javascript">
      $(document).foundation();
    </script>
  </body>
</html>